@font-face {
  font-family: 'minecraftregular';
  src: url('https://fonts.cdnfonts.com/s/25041/1_MinecraftRegular1.woff') format('woff');
}

html {
  margin: 0;
  height: 100%;
  background-image: url("minecraft-assets/minecraft_background_with_title.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
#top {
  display: flex;
  flex-direction: column;
  margin-top: 350px;
  gap: 5px;
  align-items: center;
  justify-content: center;

}
#bottom {
  display: flex;
  margin-top: 35px;
  gap: 5px;
  align-items: center;
  justify-content: center;

}
#splash {
  font-family: 'minecraftregular', sans-serif;
  font-size: 40px;
  color: #fafd11;
  text-shadow: 2px 3px #463903;
  position: absolute;
  left: 1450px;
  top: 130px;
  animation: text 2s infinite;
}
@keyframes text {
  0% {
    transform:scale(1) rotate(-25deg);
  }
  50% {
    transform:scale(0.9) rotate(-25deg);
  }
  100% {
    transform:scale(1) rotate(-25deg);
  }
}